.empty {
  width: 120px;
  height: 40px;
  background: rgba(255,255,255);  
  margin: 16px 24px 16px 48px;
  float: left;
}

.donate {
  padding: 10px 10px 10px 20px;
  color:#fff;
}

.iframe-container {
    height: 100%;
}

.iframe-container iframe {
    background: #fff;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100%;
}
